@font-face {
  font-family: "gothic";
  src: url("../../../assets/font/TradeGothic\ LT\ Regular.ttf");
}
#mininav{
  height: 3.7rem;
  z-index: 99;
  width: 100vw;
  margin-left: 0;
}
.navbar-nav{
  min-height: 4rem;
}
.toggle-cont span,
.toggle-cont i,
.toggle-cont h4 {
  font-size: 1rem;
  font-weight: 600;
}
ul {
  display: block;
  list-style-type: disc;

}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  cursor: pointer;
}
.active-nav-link {
  color: white;
}

.navbar-nav {
  display: flex;
  width: 100vw;
}


@media screen and (min-width: 992px) {
  .nav-item {
    font-size: 14px;
  }
  .navbar-nav{
    min-height: 0;
  }
  #mininav{
    height: 3rem;
  }
  .nav-item-social {
    transform: scale(.8);
  }
}

@media screen and (max-width: 992px) {
  .nav-item-social {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    height: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-item {
    font-size: 15px;
  }
}
