@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Pathway+Gothic+One&family=Sawarabi+Gothic&display=swap");

@import url("https://fonts.cdnfonts.com/css/trade-gothic-lt-std");

body {
  background-color: white;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trade Gothic LT Std", sans-serif;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  
  min-height: calc(100dvh - 3rem) ;
}



