#proyects-search-bar {
    position: relative;
    padding-left: 2rem;
    border-radius: 8px;
    margin-right: 1.1rem;
    background-color: var(--white);
    color: var(--balck);
    border: .1px solid black;
    outline: none;
    /* box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.9), 1px 1px 0px rgba(255, 255, 255, 0.9); */
  }
  
 

   .search-icon {
       z-index: 22;
       position: absolute;
       right: 11.9rem; /* Ajusta el valor según el posicionamiento deseado */
       top: 50%;
       transform: translateY(-50%);
       margin-right:1.6rem ;
       
       color: var(--balck);
  }