#card_cont{
    max-width: 750px;
    color: white;
    font-weight: 800;
    margin-inline: auto;
    margin-top: 3rem;
    box-shadow: 13px 17px 8px rgba(0, 0, 0, 0.9);
    border: .1rem solid rgb(0, 0, 0);
  
  }
  .card-title {
    font-size: 45px;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    padding-inline: 1rem;
  }
  .card-activity {
    text-align: center;
    padding-block: .3rem ;
  }
  .card-date {
    margin-block: auto;
    padding-inline: 1rem;
    font-size: 32px;
    justify-content: space-between;
   
  
  }
  
  .card-description {
    font-size: 24px;
    padding: 1rem 2rem;
    text-align: center;
  }
  @media screen and (max-width: 460px) {
      .card-title {
          font-size: 36px;
        }
        .card-activity {
          font-size: 28px;
        }
        .card-date {
          font-size: 24;
        }
        
        .card-description {
          font-size: 28px;
          
        }  
  }
  @media screen and (min-width: 992px) {
  
    #card_cont{
      box-shadow: 13px 17px 8px rgba(0, 0, 0, 0.9);
      display: flex;
      flex-direction: column;
      border-radius: 10px;
    }
    .card-title {
      font-size: 58px;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  
    .card-activity {
      text-align: center;
    }
    .card-date {
      justify-content: space-between;
      margin-top: 1rem;
    
    }
 
  }
  