#skills-data {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  color: white;
  font-weight: 800;
  font-size: 56px;
  background-color: black;

  padding-bottom: max(5rem, 10rem);
}
.skillsBlob {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0.9);
  filter: opacity(0.2);
}

.skill-cont {
  max-width: 500px !important;
  margin-inline: auto;
  height: 5rem;
  padding-inline: 2rem;
  display: flex;
  place-content: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 1%;

  position: relative;
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 25px;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.375);
  backdrop-filter: blur(40px);
}

.skill-cont:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.675);

  border: solid 2px transparent;
}

figure figcaption {
  text-align: center;
  background: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.068),
    transparent
  );
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.skill-cont h2 {
  font-size: 26px;
  font-weight: 800;
}
.skillsImg {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 992px) {

  #skills-data {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    max-height: 36.5rem;
  }

  .softSkills,
  .hardSkikll {
    padding-top: 6rem;
    min-width: 420px;
  }

  .skill-cont {
    margin-bottom: 1rem;
  }
}
