.contactForm {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  min-width: none;
  width: 100%;
}

.contactForm input {
  height: 54px;
  background: none;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0;
}
.button,
.textCont,
.email {
  grid-column: 1 / span 2;
}
.formCont {
  flex-wrap: wrap;

  width: 100%;
}
.formCont div {
  flex-grow: 1;
  flex-shrink: 0;
}
.text {
  resize: none;
  height: 86px;
}

.button {
  height: 3rem;
}
