.form-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.5rem;
}
.form-title h2 {
  font-weight: 700;
  font-size: 50px;
}
.form-title p {
  margin-bottom: 1rem;
  opacity: 0.7;
}

label {
  margin: -1px !important;
}

.article {
  padding-top: 10rem;
}

.contact-form {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  min-width: none;
  width: 100%;
  padding-bottom: 1rem;
}

.contact-form input {
  height: 54px;
  background: none;
  border-radius: 0;
}
.button,
.textCont,
.email {
  grid-column: 1 / span 2 !important;
}
.form-cont-1 {
  flex-wrap: wrap;

  width: 100%;
}
.form-cont-1 div {
  flex-grow: 1;
  flex-shrink: 0;
}
.text {
  resize: none;
  height: 86px !important;
}

.button {
  max-width: 98% !important;
}

@media screen and (max-width: 992px) {
  /* .form-title {
    margin-top: 0;
  } */
}
