.contactCont{
height: calc(100dvh - 10rem) ;
display: grid;
}
.formCont{
  padding: 4rem;
}

.formTitle {
  display: grid;
  text-align: center;
}
.formTitle h2 {
  font-weight: 700;
  font-size: 50px;
}
.formTitle p {
  margin-bottom: 3rem;
  opacity: 0.7;
  font-weight: bold;
}


@media screen and (min-width: 992px) {
  .formTitle {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
  }
}
