.jobContainer {
  min-height: calc(100svh - 3rem);
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1% 8rem auto;
}
.jobList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  padding: 0;
  padding-bottom: 3rem;
}
.jobItem {
  list-style: none;
  padding: 1rem;
}
