.contactCont {
  height: calc(100dvh - 10rem);
  display: grid;
}
.formCont {
  padding: 2rem;
}

.formTitle {
  display: grid;
  text-align: center;
  padding: 1rem 0;
  padding-bottom: 2.5rem;
}
.formTitle h2 {
  font-weight: 700;
  font-size: 48px;
}
.formTitle p {
  margin-bottom: 1rem;
  opacity: 0.7;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .formTitle {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-block: 4rem;
  }

  .formTitle {
    padding-bottom: 1.5rem;
  }
}
