:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


.hover-underline-animation-dark {
  display: inline-block;
  position: relative;
  color: #040404;
}

.hover-underline-animation-dark:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-dark:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation-light {
  display: inline-block;
  position: relative;
  color: #f0f0f0;
}

.hover-underline-animation-light:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -.5px;
  left: 0;
  background-color: #e8e7e7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-light:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}