.toggle-cont span,
.toggle-cont i,
.toggle-cont h4 {
  font-size: 16px ;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link {
  font-family: "Sawarabi Gothic", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  cursor: pointer;
}
.active-nav-link {

  color: white;
}

.navbar-nav {
  display: flex;
}

@media screen and (min-width: 740px) {
  .nav-item {
    font-weight: 700;
    font-size: 14px;
  }
}


@media screen and (max-width: 992px) {
  .nav-item-social {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-item {
    font-weight: 700;
    font-size: 16px;
  }
}
