#personal-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline: auto;
}

.photo-div {
  background: black;
  display: grid;
  width: 100%;
  place-content: center;
}

.photo {
  min-width: 110px;
  width: 100%;
}

.data-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: grid;
}

.main-data-div {
  order: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 2em 1em;
  padding-inline: 6rem;
  border-bottom: 1.25em solid black;
  padding-top: 4rem;
}

.about {
  padding: 3em 1em;
  text-align: center;
}
.about h3 {
  
  font-weight: 600!important;
}
.about p {

  font-weight: 300!important;
}
.hobbies {
  border-top: 1.25em solid black;
  padding: 2em 1em;
  padding-bottom: 4rem;
  display: grid;
  align-content: center;
}
.about p {
  font-weight: 600;
}
.about h4 {
  font-weight: 200;
}
.hobbies h3 {
  text-align: center;
  padding-bottom: 2rem;
}

.list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline: 1rem;
  gap: 1rem;
}

.list li {
  gap: 15px;
  text-align: center;
  font-size: 22px;
}
@media screen and (min-width: 626px) {
  .personal-contact {
    align-self: flex-end;
  }
}
@media screen and (max-width: 626px) {
  .main-data-div {
    margin-inline: auto;
    text-align: center;
    justify-content: center;
  }

  .personal-contact {
    margin-top: 2rem;
  }
  .name h1 {
    font-weight: 700;
    font-size: 48px;
  }
  
  .name h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 468px) {
  .main-data-div {
    font-size: large;
    padding-inline: 1rem;
  }

}
@media screen and (min-width: 992px) {
  
  #personal-data {
    max-width: 1280px;
    border: 0.1em solid black;
    border-radius: 10px;
    box-shadow: 13px 17px 8px rgba(0, 0, 0, 0.9),
      13px 17px 0px rgba(0, 0, 0, 0.9);
    margin-block: 1.4rem;
  }
  .photo-div {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .photo {
    box-shadow: 15px 15px 5px black;
    box-shadow: 15px 15px 5px black, 0px 8px 98px -6px rgba(255, 255, 255, 0.75),
    0px -4px 30px -99px rgba(255, 254, 254, 0.75); 
    
    border-radius: 6px;
  }
  .data-div {
    border: 1.25em solid black;
    border-top: black solid 0.2em;
    border-left: black solid 0.2em;
    display: grid;
    place-content: center;
    grid-template-rows: 2fr 3fr 2fr;
    padding: 2em;
    margin-inline: 0;
    border: none;
  }

  .main-data-div {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 14rem;
    max-height: 14rem;
    order: 0;
    border-bottom: none;
    gap: 1.5rem;
  }

  .name h1 {
    font-weight: 700;
    font-size: 64px;
    white-space: nowrap;
  }

  .name h2 {
    font-size: 24px;
  }

  .personal-contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1.85rem;
    gap: 1rem;
  }

  .about {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-bottom: 1.25em solid black;
  }

  .about h3 {
    margin-top: -2rem;
    font-weight: 200;
  }

  .about p {
    font-size: 18px;
  }
  .hobbies {
    padding: 2em 1em;
    padding-bottom: 0rem;
    display: grid;
  }
  .hobbies {
    padding: 0;
    padding-top: 1rem;
    margin-bottom: -1.5rem;
  }
  .hobbies h3 {
    padding-bottom: 0.5rem;
  }
}
